@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body *{
    border: 1px solid black;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none !important;
}

.custom_btn{
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}


